
body {
    font-family: "Lato", sans-serif;
    background-color:rgb(7, 7, 24) !important;

  }
  /* #logindiv{

    padding-top:0!important;
  } */
  #poplogin{
    display: flex;
    justify-content: space-between;
    margin: 2vw;
  }
  #playbanner{
    background-color: white;
  }
  #header_id{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  #logo_id{
    align-items:center;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: red;
    font-size: 33px;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 8px 12px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:green;
  }

  #homepagetitle{
    margin: 2vw;
    color: white;
  }
  #main{
    margin-left: 0 !important;
  }
  
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }


  @media screen and (max-width: 450px) {
    .sidebar {
      padding-top: 15px;
      
      
    }
    .sidebar a {font-size: 18px;}
  }